<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,168},{108,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,81}}</string>
                <key>sourceSize</key>
                <string>{108,81}</string>
            </dict>
            <key>backUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,331},{102,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,78}}</string>
                <key>sourceSize</key>
                <string>{102,78}</string>
            </dict>
            <key>bgMask.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,184},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>card.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,360}}</string>
                <key>sourceSize</key>
                <string>{290,360}</string>
            </dict>
            <key>cardName.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{180,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,27}}</string>
                <key>sourceSize</key>
                <string>{180,27}</string>
            </dict>
            <key>downFieldDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,85},{108,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,81}}</string>
                <key>sourceSize</key>
                <string>{108,81}</string>
            </dict>
            <key>downFieldUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,294},{102,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,78}}</string>
                <key>sourceSize</key>
                <string>{102,78}</string>
            </dict>
            <key>heroTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{640,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,275}}</string>
                <key>sourceSize</key>
                <string>{640,275}</string>
            </dict>
            <key>shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,505},{93,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,92}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
            <key>upFieldDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{108,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,81}}</string>
                <key>sourceSize</key>
                <string>{108,81}</string>
            </dict>
            <key>upFieldUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,251},{102,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,78}}</string>
                <key>sourceSize</key>
                <string>{102,78}</string>
            </dict>
            <key>wei.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,411},{93,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,92}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
            <key>wu.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,411},{93,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,92}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7bf7cde8493b2f72f4fc9b92f9ef3f1$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
